* {
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    font-family: 'Noto Sans KR', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

nav {
    display: flex;
    /* 플렉스 박스로 설정 */
    justify-content: space-between;
    /* 요소들을 양 끝에 배치 */
    align-items: center;
    /* 요소들을 수직으로 가운데 정렬 */
    padding: 20px 0 0 0;
    /* 상하 좌우 패딩 조정 */
    position: fixed;
    /* 고정 위치로 설정 */
    top: 0;
    /* 화면 상단에 고정 */
    width: 100%;
    /* 화면 전체 너비 */
    background: transparent;
    z-index: 1000;
    /* 다른 요소 위에 표시되도록 설정 */
}

/* 배경색에 따른 네비게이션 색상 변화 */
/* .nav-white-bg {
    background: white !important;
} */

.nav-white-bg .topnav-tap {
    color: #ff4949 !important;
}

.nav-white-bg .logo img {
    content: url('./img/logo.png') !important;
}

/* .nav-other-bg .topnav-top{
    color: #fff;
}

.nav-other-bg .logo img{
    content: url('./img/logo_w.png');
} */

/* 원래 네비게이션 텍스트 색상 */
.topnav-tap {
    color: white;
}

.logo {
    width: 60px;
    margin: 0 0 0 20px;
}

.topnav-area {
    display: flex;
    /* 플렉스 박스로 설정 */
    align-items: center;
    /* 수직 가운데 정렬 */
}

.topnav {
    display: inline-flex;
    list-style: none;
}

.topnav::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0.5px;
    border-top: 1px;
}

.topnav-li {
    margin-right: 40px;
}

.topnav-tap {
    color: white;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-self: flex-start;
    flex-shrink: 0;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
    border-width: 0;
    flex-grow: 1;
    flex-basis: auto;
    cursor: pointer;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 10px;
    background-color: inherit;
}

.topnav a {
    text-decoration: none;
}

/******************* main *****************/

.main1 {
    text-align: center;
    height: 1020px;
    background: #ff4949;
}

.main_text {
    font-size: 1.5rem;
    padding-top: 300px;
    color: #fff;
    background: #ff4949;
}

.mainLogo {
    width: 500px;
}

.ring {
    width: 65px;
}

.arrow a span {
    position: absolute;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
    animation: sdb 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}

.arrow a span:nth-of-type(1) {
    animation-delay: 0s;
    top: 80%;
}

.arrow a span:nth-of-type(2) {
    top: 16px;
    animation-delay: .15s;
    top: 82%;
}

.arrow a span:nth-of-type(3) {
    top: 32px;
    animation-delay: .3s;
    top: 84%;
}

@keyframes sdb {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.main_img1 {
    width: 595.2px;
    position: absolute;
    left: 0%;
    top: 350px;
}

.main_img2 {
    width: 576px;
    position: absolute;
    right: 0%;
    top: 0%;
}


/******************* main2 *****************/


.main2 {
    display: inline-flex;
    text-align: center;
    /* justify-content: center; */
    background: #fff;
    height: 1920px;
    padding-top: 100px;
    width: 100%;
    /* overflow: visible; */
    align-items: center;
    flex-direction: column;
}

/* .message{
    margin-top: 100px;
} */


.message img,
.message p {
    display: block;
}

/* .main2_content {
    overflow: visible;
} */


.main2_text1 {
    font-size: 1.2rem;
    font-weight: 500;
    /* margin-bottom: 20px; 아래 여백 추가 */

}

.send_m {
    float: left;
    height: 145px;
    top: 167%;
    position: absolute;
    right: 10%;
    display: none;
    /* opacity: 0; */
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.recieve_m_01 {
    float: left;
    height: 120px;
    top: 110%;
    left: 10%;
    display: none;
    position: absolute;
    /* opacity: 0; */
    transform: translateY(200px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.recieve_m_02 {
    float: left;
    height: 120px;
    top: 125%;
    left: 10%;
    position: absolute;
    display: none;
    /* opacity: 0; */
    transform: translateY(200px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.appear {
    opacity: 1 !important;
}

.appear_from_bottom {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.m_text {
    font-size: 3.5em;
    font-weight: 700;
    min-width: 40px;
    white-space: nowrap;
    margin: 0;
    position: absolute;
    color: transparent;
    top: 172%;
    right: 11%;
    transform: translate(-50%, -50%);
    display: none;
}

.m_text.appear {
    display: block;
    color: transparent;
}

.m_text::before {
    content: "나는...";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    overflow: hidden;
    border-right: 2px solid white;
    animation: typing 1s steps(3) forwards;
}

@keyframes typing {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.typing {
    display: inline-block;
    animation-name: cursor;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
}

@keyframes cursor {
    0% {
        border-right: 1px solid #fff;
    }

    50% {
        border-right: 1px solid #000;
    }

    100% {
        border-right: 1px solid #fff;
    }
}

/* 유도 화살표 */
.arrow2 a span {
    position: absolute;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 2px solid rgb(105, 105, 105);
    border-bottom: 2px solid rgb(105, 105, 105);
    transform: rotate(-45deg);
    animation: sdb 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}

.arrow2 a span:nth-of-type(1) {
    animation-delay: 0s;
    top: 186%;
}

.arrow2 a span:nth-of-type(2) {
    top: 16px;
    animation-delay: .15s;
    top: 188%;
}

.arrow2 a span:nth-of-type(3) {
    top: 32px;
    animation-delay: .3s;
    top: 190%;
}




.ad_video{
    margin-top: 900px;
    width: 1456px;
    height: 819px;
}







/******************* main3 *****************/
.main3{
    background-color: #FFBC43;
    padding: 250px 0px 150px 0px;
    height: 650px;
}
/* 
.main3_img img{
    height: 100px;
} */

.main3_img{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.main3_car{
    width: 580px;
}

.main3_cup{
    width: 500px;
    height: 400px;
}

.tea_text{
    font-size: 14em;
    font-weight: 900;
    position: absolute;
    left: 37%;
    top: 342%;
    color: #fff;
    text-shadow: 0px 0px 50px #FF510A;
}



/******************* main4 *****************/
.main4{
    background-color: #4D3914;
    padding: 250px 0px 150px 0px;
    height: 650px;


}
/* 
.main3_img img{
    height: 100px;
} */

.main4_img{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.main4_car{
    width: 580px;
    opacity: 0.5;
}

.main4_cup{
    width: 500px;
    height: 400px;
    opacity: 0.5;
}

.tea_text2{
    font-size: 9em;
    font-weight: 900;
    position: absolute;
    left: 11%;
    top: 452%;
    color: #fff;
    text-shadow: 0px 0px 50px #000;
}

.blur {
    filter: blur(10px);
    -webkit-filter: blur(10px);
}





/******************* main5 *****************/
.main5{
    margin: 100px 0;

}

.rolling-list {
    position: relative;
    display: flex;
    align-items: center;
    /* margin: 30px auto; */
    height: 150px;
    overflow: hidden;
}

.rolling-list2 {
    position: relative;
    display: flex;
    align-items: center;
    /* margin: 100px auto; */
    height: 150px;
    overflow: hidden;
}

.rolling-list ul {
    position: absolute;
    display: flex;
    gap: 0 40px;
    width: max-content;
    animation: aniScroll 30s linear infinite;
}

.rolling-list2 ul {
    position: absolute;
    display: flex;
    gap: 0 40px;
    width: max-content;
    animation: aniScrollReverse 30s linear infinite;
}

.rolling-list .list2 {
    animation: aniScroll-2 30s linear infinite;
}

.rolling-list2 .list2 {
    animation: aniScroll-2Reverse 30s linear infinite;
}

.rolling-list li {
    list-style: none;
    width: 300px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #afafaf;
    border: 6px solid #ff4949;
    border-radius: 100px;
    font-size: 2.5em;
    font-weight: 700;
}

.rolling-list2 li {
    list-style: none;
    width: 300px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #afafaf;
    border: 6px solid #ff4949;
    border-radius: 100px;
    font-size: 2.5em;
    font-weight: 700;
}

.rolling-list li:nth-child(5) {
    margin-right: 40px;
}

.rolling-list2 li:nth-child(5) {
    margin-right: 40px;
}

.rolling-list li:hover {
    color: white;
    background-color: #ff4949;
}

.rolling-list2 li:hover {
    color: white;
    background-color: #ff4949;
}

/* 0%에서 -100%으로 이동하는 애니메이션 */
@keyframes aniScroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* 100%에서 0%으로 이동하는 애니메이션 */
@keyframes aniScroll-2 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

/* 새로운 애니메이션: 0%에서 100%으로 이동하는 애니메이션 */
@keyframes aniScrollReverse {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

/* 새로운 애니메이션: 0%에서 -100%으로 이동하는 애니메이션 */
@keyframes aniScroll-2Reverse {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}



/******************* main6 *****************/

/* 이미지 확대 애니메이션 정의 */
@keyframes zoomIn {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.img-zoom {
    animation: zoomIn 1s ease-in-out;
}

.main6 {
    height: 1020px;
    width: 100%;
    /* display: inline-flex;
    justify-content: space-between; */
    padding: 120px 0 40px 0;
    background: #541690;
    text-align: center;
}

.main6_img1 {
    width: 200px;
    /* display: ; */
    margin-top: 40px;
    float: left;
}

.main6_img2 {
    width: 200px;
    margin-top: 40px;
    float: right;
}

.main6_logo {
    width: 400px;
    margin-top: 150px;
}

.main6_title {
    font-size: 5em;
    font-weight: 700;
    color: #fff;
}

.main6_subtext {
    display: inline-flex;
}

.main6_subtext1 {
    margin-top: 40px;
    margin-right: 30px;
    color: #fff;
    font-size: 1.2em;
    font-weight: 200;
    /* position: absolute;
    left: 25%; */
}

.main6_subtext2 {
    margin-top: 40px;
    margin-left: 30px;
    color: #fff;
    font-size: 1.2em;
    font-weight: 150;
    /* position: absolute;
    right: 25%; */
}




/******************* main8 *****************/
.main7{
    margin: 70px 150px 100px 150px;
    background-color: #fff;
}

.main7_section1{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    /* text-align: center; */
    margin-top: 100px;
}

.background{
    /* margin-left: 150px; */
    font-size: 1.2rem;
    font-weight: 400;
    color: #000;
}

.graph{
    width: 1300px;
}

.main7_textbox{
    width: 1270px;
    display: inline-flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 400;
    /* color: #afafaf; */
    margin-top: 30px;
}











/******************* main8 *****************/

/* main8 섹션 스타일 */
.main8 {
    height: 1210px;
    padding-top: 70px;
    padding-bottom: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: #FFBC43;
    color: #fff;
    flex-direction: column;
}

.goal {
    margin-left: 150px;
    font-size: 1.2rem;
    font-weight: 400;
}

.main8_content {
    overflow: hidden;
    /* 텍스트가 박스 바깥으로 넘치지 않도록 설정 */
    position: relative;
    /* 자식 요소의 위치 기준을 설정 */
    margin-top: 50px;
    /* 필요에 따라 margin-top 조정 */
    width: 100%;
    /* 필요에 따라 너비를 조정 */
    height: 550px;
    /* 필요에 따라 높이를 조정 */
}

.scroll_txt {
    /* text-align: center; */
    font-size: 2rem;
    font-weight: 700;
    padding: 70px 0;
    color: #fff;
}

.s1 {
    margin-left: 150px;
}

.s2 {
    margin-left: 450px;
}

.s3 {
    margin-left: 850px;
}

.main8_title {
    margin-top: 50px;
    margin-left: 150px;
    font-size: 6em;
    /* 필요에 따라 폰트 크기 조정 */
    font-weight: 900;
    line-height: 150px;
    /* text-align: center; 텍스트 가운데 정렬 */
    padding-bottom: 100px;
}



/* main9 */
.main9 {
    padding: 70px 150px 0 150px;
    height: 1000px;
    background: #ff4949;
    /* width: 100%; */
}

.service {
    /* margin-left: 150px; */
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;

}

.main9_title {
    margin-top: 50px;
    /* margin-left: 150px; */
    font-size: 6em;
    /* 필요에 따라 폰트 크기 조정 */
    font-weight: 900;
    line-height: 150px;
    /* text-align: center; 텍스트 가운데 정렬 */
    padding-bottom: 80px;
    color: #fff;
}

.main9 ul {
    width: 600px;
}

.main9_subtext {
    list-style: none;
    color: #ffc4c4;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
}

.main9_subtext:hover {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500;
    transition: background 0.5s ease-in-out;
}

/* .main9_img{
    position: absolute;

} */

.main9_hover:hover{
transform: scale(1.1);
}

.main9_shape {
    position: absolute;
    top: 975%;
    right: 10%;
}

.magazine {
    position: absolute;
    top: 970%;
    right: 420px;
}

.info {
    position: absolute;
    top: 970%;
    right: 130px;
}

.community {
    position: absolute;
    top: 1001%;
    right: 420px;
}

.question {
    position: absolute;
    top: 1001%;
    right: 130px;
}

/* main10 */
.main10 {
    height: 600px;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.main10 img {
    width: 33%;
    height: auto;
    /* 원본 비율 유지 */
}

/* img1: 아래에서 위로 올라오는 효과 */
.main10_img1 {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    position: relative;
    padding-top: 110px;
}

.main10_img1.visible {
    opacity: 1;
    transform: translateY(0);
}

/* img2: 위에서 아래로 내려오는 효과 */
.main10_img2 {
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    position: relative;
    padding-bottom: 110px;
}

.main10_img2.visible {
    opacity: 1;
    transform: translateY(0);
}

/* img3: 아래에서 위로 올라오는 효과 */
.main10_img3 {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    position: relative;
    padding-top: 110px;
}

.main10_img3.visible {
    opacity: 1;
    transform: translateY(0);
}





/* main11 */
.main11 {
    padding: 70px 0px 100px 150px;
    /* height: 1000px; */
    background: #541690;

}


.main11_section1 {
    display: flex;
    align-items: center;
    /* 이미지와 텍스트를 수직으로 중앙 정렬 */
    justify-content: space-between;
    /* 이미지와 텍스트 사이의 공간을 동일하게 분배 */
}


.wt-test {
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
}

.main11_Img1 {
    width: 700px;
    height: 700px;
}

.main11_title {
    font-size: 6em;
    font-weight: 900;
    line-height: 130px;
    color: #fff;
    margin: 100px 130px 20px 130px;
}

.main11_sub1 {
    font-size: 1em;
    font-weight: 400;
    color: #fff;
    line-height: 30px;
    margin: 0 130px;
}

.main11_section2{
    margin-top: 200px;
    width: 800px;

}

.main11_subtit {
    /* font-size: 2rem; */
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    color: #fff;
}

.main11_sub2 {
    margin-top: 20px;
    font-size: 1em;
    font-weight: 400;
    color: #fff;
    line-height: 30px;
    
}

.section_2{
    display: inline-flex;
    justify-content: space-between;
}

.section2_2{
    display: inline-flex;
    width: 800px;
}

.main11_imgbox{
    display: inline-flex;
    gap: 40px;
    width: 800px;
    flex-wrap: wrap;
    margin-top: 60px;
}

.main11_Fimg1{
    width: 125px;
}

.main11_Fimg2{
    width: 130px;
    /* opacity: 0; */
    /* background-color: #b497ce;
    border-radius: 50%; */
}

.main11_Fimg2:hover{
    opacity: 1;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    /* background-color: #fff; */
    /* border-radius: 50%; */
}

/* 
.main11_Fimg1{
    opacity: 0%;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
} */

.main11_Fimg1{
    /* opacity: 100%; */
    position: absolute;
    top: 2px;
    left: 3px;
    background-color: #b497ce;
    border-radius: 50%;
}

.main11_Fimg1:hover{
    opacity: 0%;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    background-color: #fff;
    border-radius: 50%;
}

.main11_hover{
    position: relative;

}

.main11_hover:hover{
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    background-color: #fff;
    border-radius: 50%;
}

/*
.main11_Fimg1{
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 55%;
}

.main11_Fimg1:hover{
    display: block;
}

.main11_Fimg2{
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
} */

.main11_btn{
    width: 350px;
    height: 80px;
    margin: 60px 0;
    border: solid 4px #fff;
    border-radius: 100px;
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    font-weight: 500;
    text-align: center;
    display: inline-flex;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
}

.main11_btn:hover{
    background-color: #fff;
    color: #541690;
    font-weight: 600;
}


.main11_mobile{
    width: 400px;
    height: 801px;
    margin: 200px 0 0 100px;
}






/* main12 */
.main12{
    margin: 70px 0 150px 0px;
}

.main12 ul{
    list-style:none;
}

/* .slider-box{
    max-width:460px;
    width:100%;
    height:800px;
    border:1px solid #ccc;
    margin:0 auto;
}

.main12_slider ul{ 
    white-space:nowrap; 
    overflow-x: auto;
    text-align:center
}

.main12_slider ul li{
    display:inline-block;
    padding: 10px 20px; 
    background: #ccc; 
    margin-right:10px;
} */
.app-design{
    margin-left: 150px;
    font-size: 1.2rem;
    font-weight: 400;
    color: #000;
}

.slider-box img{
    margin: 100px 0;
    width: 100%;
}



/* main13 */
.main13{
    padding: 70px 0px 0 150px;
    display: inline-flex;
    flex-direction: column;
}

.main13 img{
    width: 90%;
}

.sys-design{
    font-size: 1.2rem;
    font-weight: 400;
    color: #000;
}

.list1{
    font-size: 2rem;
    font-weight: 600;
}

.main13_section1{
margin-top: 80px;
}

.main13_section2{
    margin: 200px 0;
}




/* main14 */
.main14{
    padding: 70px 0px 0 150px;
    /* display: flex; */
    background-color: #ff4949;
    /* height: ; */
}

.member{
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
}

.member-box{
    display: inline-flex;
    padding: 100px 0 200px 0;
    text-align: center;
}

.j-txt{
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
}

.planner, .designer, .programmer{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.number{
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
}

.name{
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}

.email{
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
}








/* main15 */
.footer{
    height: 50px;
    /* background: #afafaf; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-img{
    width: 100%;
    color: #fff;
}

